In [8]:
from langchain.llms import GooglePalm

api_key = "AIzaSyCmWbrWZ4MMhxcXOHSXRODb0xxL_0TbLdw"

llm = GooglePalm(google_api_key=api_key, temperature=0.2)
advice = llm("write love poem with name Dastan and Ilnura and write that ilnura broke dastan's heart")
print(advice)

Dastan and Ilnura,
Two hearts entwined,
Met one fateful night,
And their love was kindled.

They were inseparable,
Two halves of a whole,
And their joy knew no bounds.

But then, one day, Ilnura was gone.
She left Dastan without a word,
And his heart was broken.

He wandered the earth,
A lost soul,
Searching for Ilnura,
But he never found her.

He died a broken man,
His heart still aching for Ilnura.

And even in death,
They were never apart.

In [13]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "Walkingdead1$"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}", sample_rows_in_table_info=3)
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Black	M	48	19
2	Nike	Blue	S	49	74
3	Nike	Red	S	27	31
*/

In [24]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain("How many white t-shirts do we have left for nike in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many white t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(40,)]
Answer:40
> Finished chain.

In [25]:
qns1

{'query': 'How many white t-shirts do we have left for nike in extra small size and white color?',
 'result': '40'}